<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS}|%X{sid}|%5p|%40.40c|%4L|%m%n</pattern>
        </encoder>
    </appender>


    <logger name="org" level="info"/>
    <logger name="org.springframework.test" level="debug"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>